<!DOCTYPE html>
<html>
<head>
    <title> Student Registration Page</title>
</head>
<body>
    <h1>Student Registration</h1>
    <form action="/result" method="POST">
        <label > Name: </label>
        <input type="text" name="studentName" required>
        <br>  <br>    
        <label > Age: </label>
        <input type="number" name="studentAge" required>
        <br>  <br>  
        <label > Course Fee: </label>
        <input type="number" name="studentCourseFee" required>
        <br>  <br>  
        <button type="submit" >Register</button>
    </form>
    <br/>
    
</body>
</html>
